
* {
    margin: 0;
}
html, body {
    height: 100%;
}

.shadow {
    -webkit-box-shadow: 5px 5px 3px 0px #ddd;
    -moz-box-shadow: 5px 5px 3px 0px #ddd;
    box-shadow: 5px 5px 3px 0px #ddd;

}

.mycenter { 
    text-align: center;
    margin:0 auto;
    float:none;

}

div { 
-moz-border-radius: 15px;
border-radius: 15px;

}

.butgroup { 
display inline-block;
}

.myright { 
    text-align: right;

}

div#slogan { 
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}

div#header {
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-top: 0px;
    background-color: black;
    color: white;

}

.maincolor {

    background-color: #95C366; 
    border-color: #95C366;
}

.complementcolor { 
    background-color: #874B8E; 
    border-color: #874B8E;
    color: white;

}

div#numbers { 
    background-color: gray;
    border: gray;

}

div#digits { 
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 40px;
    padding-bottom:60px;
    font-size: 12em;

}

div#configuration { 
    padding-top: 20px;

}

div#container { 
    height: auto !important;
    height: 100%;
    margin 0 auto -4em;

}

div#controls { 
    margin-bottom: 10px;

}
